:root {
  --primary: #b6895b;
  --bg: #010101;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: #fff;
  min-height: 2000px;
}

/* Hamburger Menu Start */
label {
  display: none;
  flex-direction: column;
  width: 70px;
  cursor: pointer;
}

label span {
  background: #000000;
  border-radius: 10px;
  height: 7px;
  margin: 7px 0;
  transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

span:nth-of-type(1) {
  width: 50%;
  margin: 4px 60%;
}

span:nth-of-type(2) {
  width: 80%;
  margin: 4px 60%;
}

span:nth-of-type(3) {
  width: 60%;
  margin: 4px 60%;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked ~ span:nth-of-type(1) {
  transform-origin: bottom;
  transform: rotatez(45deg) translate(8px, 0px);
}

input[type="checkbox"]:checked ~ span:nth-of-type(2) {
  transform-origin: top;
  transform: rotatez(-45deg);
}

input[type="checkbox"]:checked ~ span:nth-of-type(3) {
  transform-origin: bottom;
  width: 45%;
  transform: rotatez(45deg) translate(10px, -22.5px);
}
/* Hamburger Menu End */

/* Navbar */
.navbar {
  display: flex;
  justify-content: center;
  align-items: right;
  border: none; /* Remove any borders */
  outline: none; /* Remove any outlines */
  padding: 1.5rem 7%;
  background-image: url("../img/navbar.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  position: fixed; /* supaya navbar diem diatas kalo discroll*/
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

/* .navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  font-style: italic;
}

.navbar .navbar-logo span {
  color: var(--primary);
} */

.navbar .navbar-nav a {
  color: #000000;
  font-weight: 300;
  font-family: "Bebas Neue", sans-serif;
  display: inline-block;
  font-size: 2rem;
  margin: 0 0.7rem; /*atas bawah 0, kiri kanan 16px (1 rem = 16px) */
}

.navbar .navbar-nav a:hover {
  color: #f39cff; /*kalau navbar di hover akan berubah warna*/
}

.navbar .navbar-nav a::after {
  /*pseudoelement*/
  content: "";
  display: block;
  width: 100%;
  padding-bottom: 0.1rem;
  border-bottom: 0.2rem solid #f39cff;
  transform: scaleX(
    0
  ); /*waktu dihover border di sumbu x akan sebesar 0 jadinya ngilang*/
  transition: transform 0.2s ease;
  transform-origin: right;
  transition-duration: 0.4s;
}

.navbar .navbar-nav a:hover:after {
  transform: scaleX(
    1
  ); /*waktu dihover border di sumbu x akan sebesar 0.5 artinya makin panjang*/
  transform-origin: left;
}

.navbar .navbar-extra a {
  color: #000000;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

/* #hamburger-menu {
  display: none;
} */

/* Hero section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  border: none; /* Remove any borders */
  outline: none; /* Remove any outlines */
}

.hero .content {
  display: flex;
  padding: 1rem 7%;
  max-width: 70rem;
  border: none; /* Remove any borders */
  outline: none; /* Remove any outlines */
}

.hero .content .container {
  display: flex;
  flex-direction: column;
}

.hero .content .image {
  width: 60%;
}

.hero .content .container .date-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Bebas Neue", sans-serif;
  background-image: url("../img/place.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100px;
  width: 350px;
}

.hero .content .container .date-container h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 250px;
  font-size: 6em;
  color: #000000;
  font-weight: 300;
}

.hero .content .container .date-container .divider {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6px;
  width: 80px;
  background-color: #000000;
  font-weight: 5000;
}

.hero .content .container .date-container .divider h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6px;
  width: 150px;
  color: #000000;
}

.hero .content .container .city-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../img/city.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 10% 40%;
  font-family: "Bebas Neue", sans-serif;
  height: 180px;
  width: 350px;
}

.hero .content .container .city-container h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 250px;
  font-size: 5em;
  color: #000000;
  font-weight: 500;
}

.hero .content .container .place-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  width: 650px;
  background-image: url("../img/place.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Bebas Neue", sans-serif;
}

.hero .content .container .place-container h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5%;
  width: 650px;
  font-size: 3.5em;
  color: #000000;
  font-weight: 300;
}

.hero .content .content-month {
  position: absolute;
  left: 835px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../img/city.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 10% 40%;
  font-family: "Bebas Neue", sans-serif;
  height: 280px;
  width: 300px;
  padding: 10px;
}

.hero .content .content-month h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  text-align: center;
  height: 500px;
  width: 350px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 8em;
  font-weight: lighter;
  color: #000000;
}

.hero .content p {
  font-size: 1.6rem;
  margin-top: 1rem;
  line-height: 1.4;
  font-weight: 100;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  /* mix-blend-mode: difference; */
}

.hero .cta {
  margin-top: 490px;
  margin-left: -450px;
  display: inline-block;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 300;
  padding: 1rem 15rem; /* Atas bawah 1rem, kiri kanan 3 rem*/
  font-size: 35px;
  box-sizing: border-box;
  color: #050505;
  background-color: pink;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  position: relative;
  overflow: hidden;
  z-index: 9998;
}

.hero .cta:hover {
  color: #f39cff;
}

.hero .cta::after {
  /*pseudoelement*/
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: aqua;
  position: absolute;
  top: 0;
  left: -95%;
  transition: left 0.3s ease;
  z-index: -1;
}

.hero .cta:hover:after {
  left: 0;
}

.hero .cta .fa-arrow-right-long {
  width: 50px;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  margin-left: 50px;
}

/* Lineup Section */
.lineup {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../img/header-bg2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.lineup h1 {
  padding-top: 25px;
  padding-left: 35px;
  padding-right: 150px;
  padding-bottom: 100px;
  font-size: 4rem;
  margin-top: 50px;
  margin-right: 860px;
  color: #000000;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 200;
  background-image: url("../img/navbar.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.lineup .newjeans {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 75px;
  margin-right: 60px;
  width: 300px;
  position: relative;
  z-index: 999;
  cursor: pointer;
}

.lineup .newjeans img {
  height: 300px;
  width: 300px;
  margin-bottom: 0;
}

.lineup .newjeans a {
  font-size: 3rem;
  margin-top: 0;
  padding-bottom: 10px;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  color: #000000;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 200;
  background-color: pink;
  position: relative;
  overflow: hidden;
  z-index: 9998;
}

.lineup .newjeans a::after {
  /*pseudoelement*/
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: aqua;
  position: absolute;
  top: 0;
  left: -90%;
  transition: left 0.3s ease;
  z-index: -1;
  cursor: pointer;
}

.lineup .newjeans a:hover:after {
  left: 0;
  cursor: pointer;
}

.lineup .iu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0;
  margin-right: 0 !important;
  width: 300px !important;
  position: relative;
  z-index: 999;
  cursor: pointer;
}

.lineup .iu img {
  display: block;
  width: 100%;
  height: auto;
  cursor: pointer;
}

.lineup .iu a {
  height: 66.67px;
  font-size: 3rem;
  margin-top: 0;
  padding-bottom: 20px;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  color: #000000;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 200;
  background-color: pink;
  position: relative;
  overflow: hidden;
  z-index: 9998;
  cursor: pointer;
}

.lineup .iu a::after {
  /*pseudoelement*/
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: aqua;
  position: absolute;
  top: 0;
  left: -90%;
  transition: left 0.3s ease;
  z-index: -1;
  cursor: pointer;
}

.lineup .iu a:hover:after {
  left: 0;
  cursor: pointer;
}

.lineup .lesserafim {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: -75px;
  width: 300px;
  position: relative;
  z-index: 999;
  cursor: pointer;
}

.lineup .lesserafim img {
  height: 300px;
  width: 300px;
  margin-bottom: 0;
}

.lineup .lesserafim a {
  font-size: 3rem;
  margin-top: 0;
  padding-bottom: 10px;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  color: #000000;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 200;
  background-color: pink;
  position: relative;
  overflow: hidden;
  z-index: 9998;
}

.lineup .lesserafim a::after {
  /*pseudoelement*/
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: aqua;
  position: absolute;
  top: 0;
  left: -90%;
  transition: left 0.3s ease;
  z-index: -1;
}

.lineup .lesserafim a:hover:after {
  left: 0;
}

.lineup .bts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: -150px;
  width: 300px;
  cursor: pointer;
}

.lineup .bts img {
  height: 300px;
  width: 300px;
  margin-bottom: 0;
}

.lineup .bts a {
  font-size: 3rem;
  margin-top: 0;
  padding-bottom: 10px;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  color: #000000;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 200;
  background-color: pink;
  position: relative;
  overflow: hidden;
  z-index: 9998;
}

.lineup .bts a::after {
  /*pseudoelement*/
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: aqua;
  position: absolute;
  top: 0;
  left: -90%;
  transition: left 0.3s ease;
  z-index: -1;
}

.lineup .bts a:hover:after {
  left: 0;
}

.lineup .seventeen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: -225px;
  width: 300px;
  cursor: pointer;
}

.lineup .seventeen img {
  height: 300px;
  width: 300px;
  margin-bottom: 0;
}

.lineup .seventeen a {
  font-size: 3rem;
  margin-top: 0;
  padding-bottom: 10px;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  color: #000000;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 200;
  background-color: pink;
  position: relative;
  overflow: hidden;
  z-index: 9998;
}

.lineup .seventeen a::after {
  /*pseudoelement*/
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: aqua;
  position: absolute;
  top: 0;
  left: -90%;
  transition: left 0.3s ease;
  z-index: -1;
}

.lineup .seventeen a:hover:after {
  left: 0;
}

.lineup .ive {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: -300px;
  width: 300px;
  cursor: pointer;
}

.lineup .ive img {
  height: 300px;
  width: 300px;
  margin-bottom: 0;
}

.lineup .ive a {
  font-size: 3rem;
  margin-top: 0;
  padding-bottom: 10px;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  color: #000000;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 200;
  background-color: pink;
  position: relative;
  overflow: hidden;
  z-index: 9998;
}

.lineup .ive a::after {
  /*pseudoelement*/
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: aqua;
  position: absolute;
  top: 0;
  left: -90%;
  transition: left 0.3s ease;
  z-index: -1;
}

.lineup .ive a:hover:after {
  left: 0;
}

.lineup .gidle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: -375px;
  width: 300px;
  cursor: pointer;
}

.lineup .gidle img {
  height: 300px;
  width: 300px;
  margin-bottom: 0;
}

.lineup .gidle a {
  font-size: 3rem;
  margin-top: 0;
  padding-bottom: 10px;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  color: #000000;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 200;
  background-color: pink;
  position: relative;
  overflow: hidden;
  z-index: 9998;
}

.lineup .gidle a::after {
  /*pseudoelement*/
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: aqua;
  position: absolute;
  top: 0;
  left: -90%;
  transition: left 0.3s ease;
  z-index: -1;
}

.lineup .gidle a:hover:after {
  left: 0;
}

.swiper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 150px;
  left: 5px;
  right: 0;
  margin-left: 0;
}

.swiper-slide {
  width: 320px;
}

.swiper-slide::before {
  content: ""; /* Required for the pseudo-element to appear */
  position: absolute;
  top: 0;
  right: -10px; /* Adjust this value to control how much of the overflowing content triggers the pointer cursor */
  width: 10px; /* Adjust this width to match the amount of overflow you want to trigger the cursor */
  height: 100%;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
  z-index: 99999; /* Make sure the modal is on top */
}

.modal-content {
  display: flex;
  flex-direction: column;
  width: 60%;
  max-width: 600px;
  margin: 10% auto;
  padding: 20px;
  position: relative;
  margin-top: 5px;
  margin-bottom: 10px;
}

.modal-content .modal-head {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 550px; /* Adjust the width as needed */
  height: 200px;
  padding: 50px;
  background-image: url("../img/header-bg2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.modal-content .modal-head .close-modal-btn {
  position: absolute;
  top: 15px;
  right: 45px;
  width: 25px;
  height: 55px;
  color: black;
  cursor: pointer;
}

.modal-content .modal-head img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border: solid;
  border-color: aqua;
  border-width: 5px;
}

.modal-content .modal-body {
  display: flex;
  flex-direction: column;
  width: 550px; /* Adjust the width as needed */
  height: 400px; /* Adjust the height as needed */
  overflow: auto; /* Enable scrollbars when content exceeds dimensions */
  border: 1px solid #ccc;
  background-image: url("../img/navbar.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: black;
}

.modal-content .modal-body h2 {
  margin-left: 20px;
  margin-bottom: 0.1rem;
  margin-top: 20px;
  font-family: "Manrope", "sans-serif";
  font-weight: 700;
  font-size: 3rem;
}

.modal-content .modal-body .date {
  margin-left: 20px;
  margin-bottom: 1.5rem;
  margin-top: 0;
  font-family: "Manrope", "sans-serif";
  font-weight: 600;
  font-size: 1.2rem;
}

.modal-content .modal-body p {
  padding-top: 5px;
  margin-left: 20px;
  margin-bottom: 1rem;
  margin-top: 0;
  margin-right: 30px;
  font-family: "Manrope", "sans-serif";
  font-weight: 400;
  font-size: 1rem;
}

/* Ticket Section */
.ticket {
  min-height: 200vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../img/header-bg3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.ticket .mybca {
  padding-top: 20px;
  padding-left: 30rem;
  padding-right: 30rem;
  padding-bottom: 120vh;
  margin-bottom: 0;
  font-size: 4rem;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: pink;
}

.ticket .mybca h1 {
  font-size: 4rem;
  width: 300px;
  margin-top: 0;
  margin-bottom: 0.2rem;
  padding-bottom: 0;
  color: #000000;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 200;
}

.ticket .mybca .pass-headings {
  display: flex;
  justify-content: center;
  margin-top: 0.2rem;
}

.ticket .mybca .pass-headings h2 {
  display: inline-block;
  font-size: 2rem;
  margin-top: 0;
  color: lightslategrey;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 200;
  border-style: solid;
  border-color: lightslategrey;
  padding: 0.25rem 5rem 0.25rem;
  margin-left: 2rem;
  margin-right: 2rem;
  cursor: pointer;
}

.ticket .mybca .pass-headings h2.clicked {
  color: black;
  border-color: black;
}

.ticket .mybca .mybca-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-left: 10rem;
  padding-right: 10rem;
  padding-bottom: 2rem;
  margin-top: 500px;
  position: absolute;
  z-index: 9000;
  background-color: cornsilk;
}

.ticket .mybca .mybca-content img {
  margin-top: 10px;
  width: 100px;
  height: 100px;
  border-radius: 20px;
}

.ticket .mybca .mybca-content h2 {
  font-size: 4rem;
  margin-bottom: 0.25rem;
  color: black;
  border-style: none;
}

.ticket .mybca .mybca-content h3 {
  font-size: 2rem;
  color: black;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
}

.ticket .mybca .mybca-content a {
  display: inline-block;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 300;
  padding: 1rem 15rem; /* Atas bawah 1rem, kiri kanan 3 rem*/
  font-size: 35px;
  margin-top: 1rem;
  margin-bottom: 0;
  box-sizing: border-box;
  color: #050505;
  background-color: aquamarine;
  position: relative;
  overflow: hidden;
  z-index: 9998;
}

.ticket .mybca .mybca-content a:hover {
  color: #f39cff;
}

.ticket .mybca .daily-pass-content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 25.5%;
  z-index: 9002;
  margin-bottom: 0;
  padding-left: 4rem;
  animation: fadeInFromBottom 1s ease forwards;
}

@keyframes fadeInFromBottom {
  from {
    opacity: 0;
    transform: translateY(10%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.ticket .mybca .daily-pass-content h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: rgb(229, 255, 0);
  height: 4rem;
  width: 17rem;
  font-size: 2rem;
  margin-left: 2rem;
  margin-top: 0;
}

.ticket .mybca .daily-pass-content h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: cornsilk;
  height: 8rem;
  width: 17rem;
  font-size: 1.2rem;
  margin-left: 2rem;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
}

.ticket .mybca .daily-pass-content h2 span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  color: black;
  display: block;
  margin: 0.5rem 0 0;
  padding: 0;
  width: auto;
}

.ticket .mybca .daily-pass-content img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 17rem;
  margin-top: 0;
}

.ticket .mybca .daily-pass-content h3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: cornsilk;
  height: 4rem;
  width: 17rem;
  font-size: 1.5rem;
  margin-right: 2rem;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
}

.ticket .mybca .daily-pass-content h4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: cornsilk;
  height: 8rem;
  width: 17rem;
  font-size: 1.5rem;
  margin-right: 2rem;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
}

.ticket .mybca .daily-pass-content h4 span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 500;
  color: black;
  display: block;
  margin: 0;
  padding: 0;
  width: auto;
}

.ticket .mybca .daily-pass-content a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: aquamarine;
  height: 5rem;
  width: 17rem;
  font-size: 2rem;
  margin-right: 2rem;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 500;
  transition: background-color 0.3s;
}

.ticket .mybca .daily-pass-content a:hover {
  background-color: #66b3b3;
}

.ticket .mybca .daily1,
.ticket .mybca .daily2,
.ticket .mybca .daily3 {
  margin-right: 2rem; /* Add some bottom margin between daily1, daily2, daily3 */
}
.ticket .mybca .daily1 h1,
.ticket .mybca .daily2 h1,
.ticket .mybca .daily3 h1,
.ticket .mybca .daily1 h2,
.ticket .mybca .daily2 h2,
.ticket .mybca .daily3 h2 {
  margin: 0;
  padding: 0;
}

.ticket .mybca .threeday-pass-content {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 25.5%;
  z-index: 9001;
  margin-bottom: 0;
  padding-left: 4rem;
  animation: fadeInFromBottom 1s ease forwards;
}

@keyframes fadeInFromBottom {
  from {
    opacity: 0;
    transform: translateY(10%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.ticket .mybca .threeday-pass-content h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: rgb(229, 255, 0);
  height: 4rem;
  width: 17rem;
  font-size: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 0;
}

.ticket .mybca .threeday-pass-content h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: cornsilk;
  height: 8rem;
  width: 17rem;
  font-size: 1.2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
}

.ticket .mybca .threeday-pass-content h2 span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  color: black;
  display: block;
  margin: 0.5rem 0 0;
  padding: 0;
  width: auto;
}

.ticket .mybca .threeday-pass-content img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 17rem;
  margin-top: 0;
}

.ticket .mybca .threeday-pass-content h3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: cornsilk;
  height: 4rem;
  width: 17rem;
  font-size: 1.5rem;
  margin-right: 2rem;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
}

.ticket .mybca .threeday-pass-content h4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: cornsilk;
  height: 8rem;
  width: 17rem;
  font-size: 1.5rem;
  margin-right: 2rem;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
}

.ticket .mybca .threeday-pass-content h4 span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 500;
  color: black;
  display: block;
  margin: 0;
  padding: 0;
  width: auto;
}

.ticket .mybca .threeday-pass-content a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: aquamarine;
  height: 5rem;
  width: 17rem;
  font-size: 2rem;
  margin-right: 2rem;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 500;
  transition: background-color 0.3s;
}

.ticket .mybca .threeday-pass-content a:hover {
  background-color: #66b3b3;
}
.ticket .mybca .threeday1,
.ticket .mybca .threeday2,
.ticket .mybca .threeday3 {
  margin-right: 2rem; /* Add some bottom margin between daily1, daily2, daily3 */
}
.ticket .mybca .threeday1 h1,
.ticket .mybca .threeday2 h1,
.ticket .mybca .threeday3 h1,
.ticket .mybca .threeday1 h2,
.ticket .mybca .threeday2 h2,
.ticket .mybca .threeday3 h2 {
  margin: 0;
  padding: 0;
}

/* Media Queries */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  label {
    display: flex;
  }

  .navbar {
    display: flex;
    justify-content: right;
    align-items: right;
    padding: 1.5rem 7%;
    background-color: rgb(234, 132, 227);
    border-bottom: 1px solid #513c28;
  }
  .navbar .navbar-nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    top: 100%;
    right: -100%;
    background-color: aqua;
    width: 100%;
    height: 100vh;
    margin: 1 1;
    transition: 0.3s;
  }

  .navbar .navbar-extra {
    justify-content: right;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block; /*akan membuat elemen turun ke bawah*/
    margin: 0.7rem;
    padding: 0.7rem;
    font-size: 2.5rem;
    transition: transform 0.3s ease-in-out;
    text-decoration: none;
  }

  .navbar .navbar-nav a::after {
    transform-origin: center;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(1);
    transform-origin: center;
  }

  .lineup .row {
    flex-wrap: wrap;
  }

  .lineup .row .lineup-img img {
    height: 24rem;
    object-fit: cover;
    object-position: center;
  }

  .lineup .row .content {
    padding: 0;
  }

  .lineup .row .content h3 {
    margin-top: 1rem;
    font-size: 2rem;
  }

  .lineup .row .content p {
    font-size: 1.6rem;
  }
}

/* Mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
